@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');

body {
    font-family: "Almarai", sans-serif;
}
p{
margin: 0px;

}
a{
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

.navbar {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.08)0px 2px 4px 0px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.navbar img {
    width: 120px;


}

.navbar .nav-link {
    font-size: 15px;
    font-weight: 400;

}

.navbar .join {
    background-color: rgb(223, 50, 73);
    color: white;
    border-radius: 15px;
    width: fit-content;
    padding: 7px;

}

/***footer**/
.footer {
    background-color: #2e3d41;
    color: white;
    padding: 15px 0;
    border-top: 1px solid rgba(33, 37, 41, 0.03);
}

.footer .li-item {
    width: 24px;
    width: 24px;
    line-height: 24px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.footer .li-item i {
    color: #2e3d41;
}

.footer h3 {
    font-size: 15px;
}

.footer .items {
    display: flex;
    justify-content: space-between;
}

.footer .img-footer {
    width: 148px;
}

.footer .contant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer .final-logo {
    display: flex;
    justify-content: center;
}
.btn-project{
    background-color: rgb(230, 31, 91) !important;
    color: #fff !important;
}
.title-h3{

    color: rgb(19, 67, 97);
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #eee;
}
@media(max-width:760px){
    .social-media{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;

    }
    .footer .contant{
        margin-bottom: 15px ;
    }
}
